body {
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}

body.language {
  background: linear-gradient(188deg, #111111 4%, #070496 40%, #111111 96%);
  height: 100vh;
}

body.ru-page,
body.en-page,
body.es-page,
body.zh-page {
  background: linear-gradient(172deg, #111111 4%, #070496 34%, #111111 96%);
  height: 100%;
}

body.track {
  background: linear-gradient(188deg, #111111 4%, #960410 34%, #111111 96%);
  height: 100vh;
}

.language main {
  background-color: #605fc9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 456px;
  height: 232px;
  text-align: center;
  margin-top: 208px;
  padding: 12px;
  border-radius: 92px;
  box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.7);
}

.ru-page header,
.en-page header,
.es-page header,
.zh-page header {
  background-color: #605fc9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 504px;
  height: 184px;
  text-align: center;
  padding: 12px;
  margin-top: 24px;
  border-radius: 92px;
  box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.7);
}

.ru-page main,
.en-page main,
.es-page main,
.zh-page main {
  background-color: #605fc9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 592px;
  height: 368px;
  text-align: center;
  padding: 12px;
  border-radius: 92px;
  box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.7);
}

.ru-page section,
.en-page section,
.es-page section,
.zh-page section {
  background-color: #605fc9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 392px;
  height: 584px;
  text-align: center;
  padding: 12px;
  border-radius: 92px;
  box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.7);
}

.ru-page footer,
.en-page footer,
.es-page footer,
.zh-page footer {
  text-align: center;
  color: #d8cccf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.track header {
  background-color: #921414;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 484px;
  height: 436px;
  text-align: center;
  padding: 12px;
  margin-top: 24px;
  border-radius: 92px;
  box-shadow: 0 0px 32px rgba(110, 102, 102, 0.7);
}

.track footer {
  text-align: center;
  color: #d67c85;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #0003ac;
  text-decoration: none;
}

p {
  font-size: 1.3rem;
  font-weight: 700;
}

small {
  font-size: 1.0rem;
  font-weight: 100;
}

.big {
  font-size: 1.5rem;
  font-weight: 700;
}

.b-nick {
  color: #3b3ecf;
}

.r-nick {
  color: #ce2831;
}

.track-link {
  color: #e65e5e;
}

.track-name {
  color: #e79696;
}

@media (max-width: 604px) {
  .language main,
  .ru-page header,
  .ru-page main,
  .ru-page section,
  .ru-page footer,
  .en-page header,
  .en-page main,
  .en-page section,
  .en-page footer,
  .es-page header,
  .es-page main,
  .es-page section,
  .es-page footer,
  .zh-page header,
  .zh-page main,
  .zh-page section,
  .zh-page footer,
  .track header,
  .track footer {
    width: 84% !important;
    padding: 20px !important;
    height: auto !important
  }
}
