* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  text-align: center;
  margin: 0px;
}

body.language {
  background: linear-gradient(188deg, #111111 4%, #070496 40%, #111111 96%);
}

body.ru-page,
body.en-page,
body.es-page,
body.zh-page {
  background: linear-gradient(172deg, #111111 4%, #070496 34%, #111111 96%);
  gap: 20px;
}

body.track {
  gap: 8px;
  background: linear-gradient(188deg, #111111 4%, #6b040c 44%, #111111 96%);
}

.language main {
  background-color: #605fc9;
  width: 344px;
  margin-top: 204px;
  padding: 12px;
}

.ru-page header,
.en-page header,
.es-page header,
.zh-page header {
  background-color: #605fc9;
  width: 484px;
  padding: 12px;
  margin-top: 24px;
}

.ru-page main,
.en-page main,
.es-page main,
.zh-page main {
  background-color: #605fc9;
  width: 664px;
  padding: 12px;
}

.ru-page section,
.en-page section,
.es-page section,
.zh-page section {
  background-color: #605fc9;
  width: 404px;
  padding: 12px;
}

.ru-page footer,
.en-page footer,
.es-page footer,
.zh-page footer {
  color: #d8cccf;
}

.track header {
  max-width: 384px;
  margin-top: 12px;
}

.track-img {
  border-radius: 32px;
  box-shadow: 0 0 12px rgba(108, 111, 255, 0.7);
}

.track main {
  background-color: #92141e;
  width: 372px;
  padding: 12px;
  border-radius: 72px;
  box-shadow: 0 0 16px rgba(153, 146, 146, 0.7);
}

.track footer {
  color: #dd747e;
}

.language main,
.ru-page header,
.en-page header,
.es-page header,
.zh-page header,
.ru-page main,
.en-page main,
.es-page main,
.zh-page main,
.ru-page section,
.en-page section,
.es-page section,
.zh-page section {
  border-radius: 72px;
  box-shadow: 0 0 16px rgba(202, 196, 196, 0.7);
}

p {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.32;
}

.language main h1 {
  line-height: 1.04;
}

.language main p {
  line-height: 1.12;
}

footer p {
  line-height: 0.72;
}

small {
  font-size: 1.0rem;
  font-weight: 100;
}

.big {
  font-size: 1.5rem;
  font-weight: 700;
}

body.track p {
  color: #f19191;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: #0003ac;
  text-decoration: none;
  transition: color 0.4s ease, transform 0.4s ease;
}

a:hover {
  color: #070bca;
}

body.track a {
  color: #ff8181;
}

body.track a:hover {
  color: #ec9d9d;
}

.b-nick {
  color: #3b3ecf;
}

.r-nick {
  color: #ce2831;
}

@media (hover: hover) {
  a:hover {
    transform: scale(1.04);
  }
}

@media (max-width: 724px) {
  .language main,
  .ru-page header,
  .ru-page main,
  .ru-page section,
  .en-page header,
  .en-page main,
  .en-page section,
  .es-page header,
  .es-page main,
  .es-page section,
  .zh-page header,
  .zh-page main,
  .zh-page section,
  .track header,
  .track main {
    width: 88%;
    max-width: 664px;
    padding: 20px;
  }
}

@media (hover: none) {
  a:hover {
    transform: none;
  }
}
